
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    font-size: 150%;
    text-align: center;
}

#main {
    margin-left: 100px;
}

.table-header {
    margin-top: 50px;
    margin-bottom: 50px;
}